body {
  background: #f3f2f3;
  color: #000000;
}
.myList {
  margin: 0;
	width: 32.75%;
	background: #B5E3FF;
  float:left;
  margin: 5px 5px 5px 0px;
  border: 2px solid navy; /* Рамка вокруг фотографии */ 
  padding: 3px; /* Расстояние от картинки до рамки */
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:disabled {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header2 {
  background-color: #2ECCFA;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header2:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn, .addList {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn, .addList:hover {
  background-color: #bbb;
}
.cBtn {
  padding: 7px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0px 5px 0px 0px;
}
.cBtn:nth-of-type(1){
   margin-left: 33%;
}
.cBtn:hover {
  background-color: #bbb;
}

.btnControl{
  background-color: #2ECCFA;
  padding: 5px 5px;
  color: white;
  text-align: center;
}
.btnControl:after {
  content: "";
  display: table;
  clear: both;
}
.hBtn {
  padding: 7px;
  width: 10%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
  margin: 0px 5px 0px 0px;
}


/*________________________________MODAL__________________________________


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.mClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.mClose:hover,
.mClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
text-align: center;
}

/* Clear floats after the header */
.modal-body:after {
  content: "";
  display: table;
  clear: both;
}
.modal-footer {
  
    padding: 20px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}